/* css of landing page */

* {
    font-family: 'Inter Tight', sans-serif;
}

#cover {
    background-image: url("https://img.freepik.com/premium-photo/home-decoration-furniture-living-room-interior-design-empty-black-wall-background_221619-1068.jpg?w=1060");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    animation: change 30s infinite ease-in-out;
    padding-bottom: 8rem;
}

@keyframes change {
    0% {
        background-image: url(https://img.freepik.com/premium-photo/home-decoration-furniture-living-room-interior-design-empty-black-wall-background_221619-1068.jpg?w=1060);
    }
    20% {
        background-image: url(https://img.freepik.com/premium-photo/modern-living-room-interior-empty-blue-wall-pattern-background-wood-floor_221619-1570.jpg);
    }
    40% {
        background-image: url(https://img.freepik.com/premium-photo/restaurant_23-2148014999.jpg?w=1060);
    }
    60% {
        background-image: url(https://img.freepik.com/free-photo/digital-laptop-working-global-business-concept_53876-23307.jpg?w=1380&t=st=1667052067~exp=1667052667~hmac=9d0649b3b133fa7cd8760912d3af12e33e40e349394f8a472ad441f5b8c3c8af);
    }
    80% {
        background-image: url(https://img.freepik.com/free-photo/green-wall-mockup-with-green-plant-shelf3d-rendering_41470-4114.jpg?w=1380&t=st=1667052150~exp=1667052750~hmac=0d484c0cf52c0f4243f84f66782949d7369973cf847f97938436b387721c0be9);
    }
    100% {
        background-image: url(https://img.freepik.com/free-photo/tv-wall-mounted-dark-room-with-concrete-wall-3d-rendering_41470-3607.jpg?w=1380&t=st=1667052211~exp=1667052811~hmac=b556b6fbc56af8aaed7838d519e759790e31c47e867219111c3dc5400765005c);
    }
}

#co {
    padding: 2rem;
    margin: 2rem;
}

.header {
    font-size: 1.5rem;
}

.navbar-brand {
    font-family: 'Aclonica', sans-serif;
}

.navbar-collapse {
    flex-grow: 0;
}

.dropdown-item {
    color: black;
}

#note {
    text-align: left;
    align-items: left;
    color: white;
    padding-bottom: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.p {
    margin-bottom: 3rem;
}

#ftxt {
    padding-top: 2rem;
}

#more {
    display: none;
}

#para {
    align-items: flex-start;
    text-align: left;
    justify-content: left;
}

#button {
    padding-top: 7rem;
    margin-right: 3rem;
    justify-content: space-evenly;
}